name: publish-npm

on:
  workflow_call:
    inputs:
      plan:
        description: "dist plan JSON"
        required: true
        type: string

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      actions: read
      contents: read
    env:
      PLAN: ${{ inputs.plan }}
    steps:
      - name: Fetch npm packages
        uses: actions/download-artifact@v7
        with:
          pattern: artifacts-*
          path: npm/
          merge-multiple: true
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Publish to npm (trusted publishing)
        run: |
          for release in $(echo "$PLAN" | jq --compact-output '.releases[] | select([.artifacts[] | endswith("-npm-package.tar.gz")] | any)'); do
            pkg=$(echo "$release" | jq '.artifacts[] | select(endswith("-npm-package.tar.gz"))' --raw-output)
            npm publish --access public "./npm/${pkg}"
          done
